<div data-controller="qr-scanner" class="my-16 w-full" >
<div class="flex flex-col justify-center items-center">
  <h1 class="text-xl text-gray-700">Scan your QR code here</h1>

  <div class="my-8 md:w-2/5 w-5/12">
    <video class="rounded-xl" id="video"></video>
  </div>

  <label class="font-bold text-gray-700">Result</label>
  <div>
    <code id="result"></code>
  </div>
  </div>
</div>